.headerBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
  background-color: cornflowerblue;
  height: 60px;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.formBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputBar {
  width: 400px;
  height: 30px;
  border-radius: 4px;
}

.btnBar {
  margin-left: 12px;
  width: 80px;
  height: 30px;
  border-radius: 4px;
}

.error {
  font-size: 24px;
  color: red;
}