.headerBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
  background-color: cornflowerblue;
  height: 60px;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.formInput {
  width: 400px;
  height: 50px;
  border-radius: 4px;
  padding: 0 16px;
}

.searchBtn {
  margin-left: 10px;
  height: 50px;
  width: 80px;
  border-radius: 4px;
  background-color: coral;
  color: aliceblue;
}

.searchBtn:hover {
   background-color: chartreuse;
   color: black;
}